* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background: #000;
}

body.hidden {
  overflow: hidden !important;
}

.modal {
  top: 50%;
  left: -250%;
  width: 500px;
  z-index: 100;
  position: fixed;
  filter: blur(0px);
  padding: 30px 40px;
  text-align: center;
  border-radius: 30px;
  transition: 2s linear;
  backdrop-filter: blur(25px);
  transform: translate(-50%, -50%);
  background: linear-gradient(144deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.22) 100%);
}

.modal.active {
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal .modal_header h2 {
  color: #FFF;
  font-size: 36px;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  font-style: normal;
  line-height: normal;
  font-family: Sarabun;
}

.modal .modal_header h3 {
  color: #FFF;
  margin: 50px 0;
  cursor: pointer;
  font-size: 70px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  font-family: Sarabun;
}

.modal .modal_body button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  font-style: normal;
  padding: 12px 32px;
  line-height: normal;
  border-radius: 50px;
  font-family: Sarabun;
  background: linear-gradient(131deg, #26D0CE 7.78%, #1A2980 89.77%);
}

.blur {
  filter: blur(200px);
}

.choose_number {
  top: 25px;
  right: 15px;
  position: absolute;
}

.choose_number select {
  border: none;
  width: 150px;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  appearance: none;
  filter: blur(0px);
  text-align: center;
  padding: 12px 16px;
  border-radius: 10px;
  backdrop-filter: blur(25px);
  background: linear-gradient(144deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.22) 100%);
}

.choose_number select option {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  line-height: normal;
  font-family: Sarabun;
  backdrop-filter: blur(25px);
  background: linear-gradient(144deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.22) 100%);
}

.container {
  width: 700px;
  height: 100%;
  padding: 50px 20px;
  border-radius: 10px;
  margin: 70px 0 20px 0;
  backdrop-filter: blur(25px);
  background: linear-gradient(144deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.22) 100%);
}

.container .section_table h3 {
  color: #FFF;
  font-size: 24px;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  font-style: normal;
  line-height: normal;
  margin-bottom: 50px;
  font-family: Sarabun;
  text-transform: capitalize;
}

.container .section_body {
  width: 100%;
  display: grid;
  gap: 10px 30px;
  margin: 25px 0;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.container .section_body div {
  z-index: 0;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  padding: 12px 24px;
  background: #111;
  position: relative;
  white-space: nowrap;
  border-radius: 10px;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: rgb(255, 255, 255);
}

.container .section_body div:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  top: -2px;
  left: -2px;
  z-index: -1;
  filter: blur(5px);
  position: absolute;
  border-radius: 10px;
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-filter: blur(5px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.container .section_body div:after {
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #222;
  border-radius: 10px;
}

.container .add_number {
  width: 100%;
  display: grid;
  gap: 10px 30px;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.container .add_number div {
  border: 0;
  width: 100%;
  padding: 15px;
  cursor: pointer;
  font-size: 1rem;
  transition: .2s;
  color: #2a1f62;
  white-space: pre;
  user-select: none;
  border-radius: 8px;
  position: relative;
  text-align: center;
  word-break: normal;
  white-space: nowrap;
  line-height: 1.5rem;
  word-spacing: normal;
  background: #f5f5fa;
  touch-action: manipulation;
  box-shadow: -10px -10px 30px 0 #fff, 10px 10px 30px 0 #1d0dca17;
  font-family: "Cascadia Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

.container .add_number div:hover {
  background: #f8f8ff;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

@media (min-width: 768px) {
  .container .add_number div {
    padding: 12px 24px;
  }
}

.btn_group {
  width: 100%;
  display: grid;
  gap: 10px 30px;
  margin: 25px 0;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.btn_group button {
  border: 0;
  width: 100%;
  padding: 3px;
  color: #FFF;
  display: flex;
  font-size: 20px;
  cursor: pointer;
  line-height: 1em;
  user-select: none;
  border-radius: 8px;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  justify-content: center;
  touch-action: manipulation;
  font-family: Phantomsans, sans-serif;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

.btn_group button:active,
.btn_group button:hover {
  outline: 0;
}

.btn_group button span {
  width: 100%;
  height: 100%;
  transition: 300ms;
  border-radius: 6px;
  padding: 12px 24px;
  background-color: rgb(5, 6, 45);
}

.btn_group button:hover span {
  background: none;
}

@media (max-width: 768px) {
  body {
    padding: 0 15px;
  }

  .container {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .modal {
    width: 90%;
  }

  .container .section_body div {
    padding: 12px;
  }

}
